<html>
<head>
    <meta charset="UTF-8">
    <title>Favorless</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap2.css" rel="stylesheet">
    <link href="static/css/estilosError.css" rel="stylesheet">
    <script src="static/js/respond.min.js"></script>
</head>
<body>
    <div class="container">
<div id="bender">
    <div class="bodybe">
        <div class="earsbe">
            <div class="earbe"></div>
        </div>
        <div class="headbe">
            <div class="eyesbe">
                <div class="eyebe"><div class="irisbe"></div></div>
                <div class="eyebe"><div class="irisbe"></div></div>
            </div>
            <div class="mouthbe"></div>
        </div>
    </div>
</div>
<h1>Error <strong>500</strong></h1>
<h2>Error de servidor</h2>
</div>
<!-- javascript -->
<script src="static/js/jquery-1.8.3.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/socket/index.js"></script>
<script src="static/js/typeahead.jquery.min.js"></script>
</body>
</html>
