<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Favorless</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap -->
    {% load static from staticfiles %}

    <link href="{% static "static/css/bootstrap2.css"%}" rel="stylesheet">
    <link href="{% static "static/css/estilos.css"%}" rel="stylesheet">
    

</head>

<body>
    <span id = "alerta"></span>
    <div class="container">
        
        <header>
            <nav class="navbar navbar-default navbar-static-top">
                <div class="navbar-header">
                    <div class="navegador">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div>
                        <a href="#" class="navbar-brand-centered"><img src="{% static "static/img/titulologo.png"%}" alt="favorless logo"></a>
                    </div>

                    <div>
                        <a href="#" class="navbar-icon-checkin-right2">
                            <a href="{% url "logout" %}"><span style="font-size:16px;" class="glyphicon glyphicon-cog"></span> <span class="cog"></span>
                            </a>
                        </div>


                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#">
                                    <span class="glyphicon glyphicon-home">
                                        <span class="principal">Principal</span>
                                    </span>
                                </a>
                            </li>
                            <form method="get" action="/search/results/" class="navbar-form" role="search">
                                <div class="input-group col-lg-3 col-md-3 col-sm-3">
                                    <input name="q" type="text" class="form-control" placeholder="Buscar..." id="search">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </ul>



                    </div>
        <div id = "resultadoss">

</div>
                </nav>
            </header>

            <div class="row">
                <section class="col-lg-4 col-sm-4 col-md-4 hidden-xs">
                    <article>
                        <div class="panel panel-default">
                        {% if pagina.programa_p %}
                            <div class="panel-body">

                                
                                <h5 class="media-heading">{{pagina.nombres}} {{pagina.apellido_paterno}} {{pagina.apellido_materno}}</h5>
                                <img src="{% static "static/img/img2.png"%}" alt="..." class="img-rounded">
                            </div>

                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, et?
                                Lorem ipsum dolor sit amet.</span>

                         <!--  <a href="#" id= "4" class="js-megusta btn btn-primary" role="button">
                            <span>Me gusta</span>
                            </a>
                        -->
                        {% else %}
                              <div class="panel-body">

                                
                                <h5 class="media-heading">{{pagina.nombre}} </h5>
                                <img src="{% static "static/img/img2.png"%}" alt="..." class="img-rounded">
                            </div>

                            <span>{{pagina.descripcion}}</span>
                            {% if gustar != None %}
                               <a href="#" id= "{{pagina.id}}" class="js-no-megusta btn btn-danger" role="button">
                                <span>No me gusta</span>
                                </a>
                            {% else %}
                                 <a href="#" id= "{{pagina.id}}" class="js-megusta btn btn-primary" role="button">
                                <span>Me gusta</span>
                                </a>
                            {% endif %}

                        {% endif %}    
                        </div>

                </section>

                    <section class="col-lg-8 col-sm-8 col-md-8 col-xs-12 ">
                    {% if total != None  %}
                         {% for t in total %}
                         <article class="col-lg-12 col-xs-12">
                    

                    <div class="panel panel-default">
                         <div class="panel-heading"><a href="#" >{{t.asking}}</a>
                         </div>

                        <!-- <div class="col-lg-12 col-xs-12">   
                            <div  id = "cajafuera">

                                <ul  class  = "nav nav-pills">
                                    <li class = "cajaun"> 
                                        <a href="#"  id  ="izquierda" class  ="abc"> 
                                            <span>222222</span>
                                        </a>
                                    </li>
                            
                                
                                    <li  class = "cajaun">  
                                        <a href="#" id = "derecha" class = " abc "><span>222222</span></a>

                                        <div id = "resultados">

                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div> -->

                        <div class="panel-body">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div  id = "cajafuera">

                                <ul  class  = "nav nav-pills ul-pers">
                                    <li class ="cajaun" data-choice="1" data-poll="{{t.id}}"> 
                                        <a href="#"  id  ="izquierda" class  ="abc"> 
                                            <span></span>
                                        </a>
                                    </li>
                            
                                
                                    <li  class = "cajaun" data-choice="2" data-poll="{{t.id}}">     
                                        <a href="#" id = "derecha" class = "abc"><span></span></a>

                                        <div id = "resultados">

                                        </div>
                                    </li>
                                </ul>

                                </div>

                                <div>

                                    <div>
                                        <ul class = "nav nav-pills xyz">
                            
                                                <li class ="opt left">{{t.participante.items.0.1.alias}}</li>
                                            <li class = "center">0</li>
                                            <li class = "opt right" data-choice="2">{{t.participante.items.1.1.alias}}</li>
                                        
                                            
                                        </ul>
                                    </div>

                                    <a href="#" class="thumbnail">
                                        <img src="{{t.versus.url}}" alt="...">
                                    </a>
                                </div>
                            </div>
                        </div>  

                    </div>

                </article>

                {% empty %}
                    <li>Disculpa, no tienes mas preguntas en la lista.</li>
                {% endfor %}

            {% else %}
                <p>Ha habido un problema...vuelva a interntarlo posteriormente</p>
            {% endif %}         
                     <!--   <article class="col-lg-12 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading"><a href="#">¿Pregunta que se debe realizar para evaluar el versus?</a></div>
                                <div class="panel-body">
                                    <div class="col-lg-6 col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="{% static "static/img/vs7.jpg"%}" alt="...">
                                        </a>
                                    </div>

                                    <div class="col-lg-6 col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="{% static "static/img/vs8.jpg"%}" alt="...">
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">¿Pregunta que se debe realizar para evaluar el versus?</div>
                                <div class="panel-body">
                                    <div class="col-lg-6 col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="{% static "static/img/imgvs1.png"%}" alt="...">
                                        </a>
                                    </div>

                                    <div class="col-lg-6 col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="{% static "static/img/imgvs2.png"%}" alt="...">
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">¿Pregunta que se debe realizar para evaluar el versus?</div>
                                <div class="panel-body">
                                    <div class="col-lg-6 col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="{% static "static/img/imgvs1.png"%}" alt="...">
                                        </a>
                                    </div>

                                    <div class="col-lg-6 col-xs-6">
                                        <a href="#" class="thumbnail">
                                            <img src="{% static "static/img/imgvs2.png"%}" alt="...">
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </article>-->
                </section>


            </div>
        </div> <!--fin container -->
        <!-- javascript -->
        <script src="{% static "static/js/jquery-1.8.3.min.js"%}"></script>
        <script src="{% static "static/js/bootstrap.min.js"%}"></script>
        <script src="{% static "static/js/respond.min.js"%}"></script>
        <script src="{% static "static/js/typeahead.jquery.min.js"%}"></script>
        
        <script src="http://localhost:3000/socket.io/socket.io.js"></script>
        
        <script src="{% static "static/js/socket/index.js"%}"></script>
        
        <script>


        var socket = io('http://127.0.0.1:3000');
        socket.on('connected', function () {
              console.log('Conectado!');
              
            });


       //$("body").delegate(".js-megusta","click",
        $('.panel-default').on("click", ".js-megusta",
        function()
         {  
            var bot  =   $(this);
            socket.emit('addPre',{ id : bot.prop("id") });

      /*      socket.on('update',function(data){
            console.log("BOTON  GUSTA:",bot)              
                switch  (data) {
                    case "0":
                        $('#alerta').html("error")
                        break;
                    case "1":
                        bot.removeClass( "js-megusta btn btn-primary" ).addClass("js-no-megusta btn btn-danger");
                        var no_gusta = "No me Gusta";
                        bot.text(no_gusta);
                        $('#alerta').html("")
                        break;
                    case "2":
                        $('#alerta').html("no existes")
                        break;
                    case "3":
                        $('#alerta').html("error de SERVER")
                        break;
                    default:
                        $('#alerta').html("error")
                        
                    }
                }); */
            });



       //$("body").delegate(".js-no-megusta","click",
         $('.panel-default').on("click", ".js-no-megusta",
        function()
         {  
             var bot  = $(this);
            socket.emit('removePre',{ id : bot.prop("id") });

         /*   socket.on('update',function(data){
                   console.log("NO gusta: ", bot)
                switch  (data) {
                    case "0":
                        $('#alerta').html("error")
                        break;
                    case "1":
                        bot.removeClass( "js-no-megusta btn btn-danger" ).addClass("js-megusta btn btn-primary");
                        var gusta = " me Gusta";
                        bot.text(gusta);
                        $('#alerta').html("")
                        break;
                    case "2":
                        $('#alerta').html("no existes")
                        break;
                    case "3":
                        $('#alerta').html("error de SERVER")
                        break;
                    default:
                        $('#alerta').html("error")
                        
                    }
                }); */
            });

        </script>


    </body>
    </html>
