<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Favorless</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--Bootstrap-->
	{% load static from staticfiles %}
	<link href="{% static "static/css/bootstrap2.css"%}" rel="stylesheet">
	<link rel="stylesheet" href="{% static "static/css/estilos.css"%}">
    <script src="{% static  "static/js/respond.min.js"%}"></script>
</head>
<body>

<div class="container">
	<header class="row">
		<nav class="navbar navbar-default" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  	<div class="col-lg-12">
		  		<div class="navbar-header">
		   		 <a class="navbar-brand" href="#">
		   		 	<img src="{% static "static/img/titulologo.png"%}" alt=""></a>
		    	</div>
		  	</div>
			
		</nav>
	</header>

	<div class="row">
	
		 <div class="col-xs-12">
		 	<div class="row">
		 		<div class="panel panel-default col-sm-12 col-md-12">
		 		<div class="navbar-default navbar-default2" role="navigation">
		 		<div class="navbar-header">
		 	 	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
		 	 	 	<span class="sr-only">Toggle navigation</span>
		      		<span class="glyphicon glyphicon-cog"></span>

		    	</button>
		    	<a class="navbar2-brand" href="#">Configuración</a>
		       <div class="collapse navbar-collapse navbar-collapse2" id="bs-example-navbar-collapse-2">
			       	<div class="navbar-nav">
			       	<div class="panel-heading"><h1><strong>Configuración</strong><small></small></h1></div>	
			 			<div class="panel-body">

			 				<form id="formulario" class="form-block" role="form" method="post" action=".">
			 					{% csrf_token %}
			 					<span class="glyphicon glyphicon-cog iconosSecundarios"></span>

					  			<div class="form-group">
					  				<span id="errorInfo">{{ error|default:"" }}</span>
					    			<label class="sr-only" for="passwordActual">Constraseña Anterior</label>
					    			<input type="password" class="form-control" name="u_input_pass_before" id="passwordBefore" placeholder="Contraseña Anterior" >
					    			
					  			</div>
					  			<div class="form-group">
					    			<label class="sr-only" for="passwordNow">Constraseña Nueva</label>
					    			<input type="password" name="u_input_pass_now" class="form-control" id="passwordNow" placeholder="Constraseña Nueva" >
					    			<span id="passInfoNow">password actual</span>
					  			</div>
					  			<div class="form-group">
					    			<label class="sr-only" for="passwordRepeat">Repetir Contraseña</label>
					    			<input name="u_input_pass_again" type="password" class="form-control" id="passwordRepeat" placeholder="Repetir Contraseña" >
					    			<span id="passInfoAgain">password again</span>
					  			</div>
					  	<!--		<div class="form-group">
									<!-- <label for="exampleInputFile">Cambiar Foto</label>-->
						<!--		   <input type="file" id="exampleInputFile"/>
								    <p class="help-block">Cambiar foto de perfil.</p>
					  			</div>-->
					  			
									<button disabled="disabled" id="actualizar" type="button" class="btn btn-primary">Guardar Cambios</button>
							</form>
			 			</div>
					    	
					</div>
				</div>
				</div>
				</div>
				</div>
 <!--Fin Logueo-->

  			</div> 
		</div>
	</div>
  			<!--Fin registro-->

 

	<footer class="row">
		<p><small>Favorless © ® Inc. 2015</small></p>
	</footer>

</div>

<!-- javascript -->
	<script src="{% static "static/js/jquery-1.8.3.min.js"%}"></script>
    <script src="{% static "static/js/bootstrap.min.js"%}"></script>
    <script src="{% static "static/js/settingspassword.js"%}"></script>
</body>
</html>