	<div class="form-group">
		<label class="sr-only" for="s_input_email">Correo</label>
		<!--<input type="email" class="form-control" id="s_input_email" placeholder="Correo"> iniciar_input_email-->
		{{ form_iniciar_sesion.username }}
	</div>
	<div class="form-group">
		<label class="sr-only" for="s_input_password">Contraseña</label>
		<!--<input type="password" class="form-control" id="s_input_password" placeholder="Contraseña" iniciar_input_password>-->
		{{ form_iniciar_sesion.password }}
	</div>
	<button type="submit" class="btn btn-primary">Entrar</button>&nbsp;<a href="/restaurar/">¿Olvidaste tu Contraseña?</a> 