<!--Bootstrap 
{% load static from staticfiles %}
<link href="{% static "static/css/bootstrap2.css"%}" rel="stylesheet">
<link rel="stylesheet" href="{% static "static/css/estilos.css"%}">
<style type="text/css">
.nombreUsuario
{
    display: block;
}
</style>
-->

        {% csrf_token %}
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group col-lg-6 col-md-6 col-sm-6">
                <!--<input type="text" name="registro_input_nombre_completo" class="form-control" id="r_input_name_complete" placeholder="Nombre completo" maxlenght="20"> -->
               {{ form_registrar_usuario.registro_input_nombre_completo }}
            </div>
            <div class="span-group col-lg-6 col-md-6 col-sm-6">
{% if  errorN %}
    {% if errorN == '0' %}
         <span id="nameInfo" class="success">El nombre se ve genial.
        </span>
    {% else %}
       <span id="nameInfo" class="error">¡Se requiere un nombre!
        </span>
    {% endif %}
{% elif defecto %}
      <span id="nameInfo">Ingresa tu nombre y apellido.
        </span>
{% endif %}
              
              
    
            </div>
        </div>

        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group col-lg-6 col-md-6 col-sm-6">
               <!-- <input type="email" class="form-control" name="registro_input_email" id="r_input_email" placeholder="Correo electronico"> -->
                {{ form_registrar_usuario.registro_input_email }}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
{% if  errorE %}
  {%if errorE == '0' %}
    <span id="emailInfo" class="success">Te enviaremos una confirmación por correo electrónico.</span>
  {% elif errorE == '1' %}
    <span id="emailInfo" class="error">Este email ya existe</span>

  {% elif errorE == '3' %}
    <span id="emailInfo" class="error">No parece ser un correo electrónico valido.</span>
  {% else %}
    <span id="emailInfo" class="error">Se requiere un email</span>
  {% endif %}
{% elif defecto %}
     <span id="emailInfo">¿Cual es tu dirección de correo electrónico?</span>
{% endif %} 
            </div>
        </div>

        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group col-lg-6 col-md-6 col-sm-6">
                <!--<input type="password" class="form-control" name="registro_input_password" id="r_input_password" placeholder="Contraseña" value="{{password}}">-->
                {{ form_registrar_usuario.registro_input_password }}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
   {% if  errorP %}
     {% if errorP == '4' %}
          <span id="pass1Info" class="error">La contraseña debe ser de al menos 6 caracteres.
        </span>
    {% else %}
     <span id="pass1Info">6 caracteres o más! Sé ingenioso.
                </span>
    {% endif %}
{% elif defecto %}
      <span id="pass1Info">6 caracteres o más! Sé ingenioso.
                </span>
{% endif %}     
               
            </div>
        </div>

        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group nombreUsuario col-lg-6 col-md-6 col-sm-6">
                <!--<input type="text" class="form-control" name="registro_input_usuario" id="r_input_usuario" placeholder="Nombre de Usuario">-->
        {{ form_registrar_usuario.registro_input_usuario }}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
{% if  errorU %}
    {%if errorU == '0' %}
    <span id="userInfo" class="success">El nombre se ve genial.</span>
  {% elif errorU == '1' %}
    <span id="userInfo" class="error">¡Ese usuario ya existe!</span>
  {% else %}
    <span id="userInfo" class="error">¡Se requiere un nombre de usuario!</span>
  {% endif %}
{% elif defecto %}
      <span id="userInfo">No te preocupes, puedes cambiarlo después.</span>
{% endif %}          
            </div>
        </div>

        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group col-lg-6 col-md-6 col-sm-6">
                <button type="button" id="registrar" class="btn btn-primary">Regístrate</button>
            </div>
        </div>


