	<div class="form-group">
		<label class="sr-only" for="s_input_email">Correo</label>
		<!--<input type="email" class="form-control" id="s_input_email" placeholder="Correo">-->
		{{ form_start.start_input_email }}
	</div>
	<div class="form-group">
		<label class="sr-only" for="s_input_password">Contraseña</label>
		<!--<input type="password" class="form-control" id="s_input_password" placeholder="Contraseña">-->
		{{ form_start.start_input_password }}
	</div>
	<button type="submit" class="btn btn-primary">Entrar</button>&nbsp;<a href="OlvidarPassword.html">¿Olvidaste tu Contraseña?</a> 