{% extends "base.html" %}
{% block title %}
Favorless
{% endblock %}

{% block header %}
<div class="navbar-header">
	<a href="#" class="navbar-brand-centered"><img src="../static/static/img/titulologo.png" alt="favorless logo"></a>
</div>
{% endblock %}


 <!--Logueo -->
{% block content %}
 		<div class="panel panel-default col-sm-12 col-md-12">
 		<div class="navbar-default navbar-default2" role="navigation">
 		<div class="navbar-header">
 	 	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
 	 	 	<span class="sr-only">Toggle navigation</span>
      		<span class="glyphicon glyphicon-registration-mark"></span>

    	</button>
    	<a class="navbar2-brand" href="#">Iniciar Sesión</a>
       <div class="collapse navbar-collapse navbar-collapse2" id="bs-example-navbar-collapse-2">
	       	<div class="navbar-nav">
	       	<div class="panel-heading"><h1><strong>Iniciar Sesión</strong><small>Credenciales</small></h1></div>
	 			<div class="panel-body">
	 				<form action="/login/" method="POST" class="form-block" role="form">
	 					{% csrf_token %}
			  			{% include 'formularioIngresoSesion.html' %}
					</form>
	 			</div>

			</div>
		</div>
		</div>
		</div>
		</div>
{% endblock %}
 <!--Fin Logueo-->

{% block footer %}
<p>
	<a href="http://getbootstrap.com">Favorless</a> desarrollado por <a href="https://twitter.com/FLS">@MGS</a>
</p>

<p>
	<a href="#">Back to top</a>
</p>
{% endblock %}
