<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Favorless</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Bootstrap -->
  {% load static from staticfiles %}
  <link href="{% static "static/css/bootstrap2.css"%}" rel="stylesheet">
  <link href="{% static "static/css/estilos.css"%}" rel="stylesheet">
  <script src="{% static "static/js/respond.min.js"%}"></script>
</head>

<body>

  <div class="container">
    <header>
      <nav class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
          <div class="navegador">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div>
            <a href="#" class="navbar-brand-centered"><img src="{% static "static/img/titulologo.png"%}" alt="favorless logo"></a>
          </div>
        </div>
      </nav>
    </header>

      <div class="row center-block">
              <select class="form-control">
                  <option>Cuenta Populares</option>
                  <option>Deportes</option>
                  <option>Musica</option>
                  <option>Televisión</option>
                  <option>Peliculas</option>
                  <option>Entretenimiento</option>
                  <option>Humor</option>
                  <option>Politica</option>
              </select>
        <div class="col-xs-6 col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="{% static "static/img/normal.jpg"%}" alt="...">
            <div class="caption">
              <h4>The Big Bang Theory</h4>
              <p>Comedia</p>
              <p><a href="#" class="btn btn-primary" role="button">Me gusta</a></p>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="{% static "static/img/normal2.jpg"%}" alt="...">
            <div class="caption">
              <h4>The Walking Dead</h4>
              <p>Terror</p>
              <p><a href="#" class="btn btn-primary" role="button">Me gusta</a></p>
            </div>
          </div>
        </div>


        <div class="col-xs-6 col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="{% static "static/img/normal.jpg"%}" alt="...">
            <div class="caption">
              <h4>Supernatural</h4>
              <p>Ficción</p>
              <p><a href="#" class="btn btn-primary" role="button">Me gusta</a></p>
            </div>
          </div>
        </div>


        <div class="col-xs-6 col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="{% static "static/img/normal2.jpg"%}" alt="...">
            <div class="caption">
              <h4>Nikita</h4>
              <p>Otros</p>
              <p><a href="#" class="btn btn-primary" role="button">Me gusta</a></p>
            </div>
          </div>
        </div>

      </div>

    <!-- javascript -->
    <script src="{% static "static/js/jquery-1.10.2.min.js"%}"></script>
    <script src="{% static "static/js/bootstrap.min.js"%}"></script>
  </body>
  </html>
