{% extends "base.html" %}
{% block title %}
Favorless
{% endblock %}

{% block header %}
	<a href="#" class="navbar-brand-centered"><img src="../static/static/img/titulologo.png" alt="favorless logo"></a>
{% endblock %}

{% block content %}
	<!--imagen-->
	<div class="col-sm-7 col-md-7">
		<img  src="../static/static/img/vs10.jpg" alt="vs2" class="img-responsive img-principal-comparar">
	</div>
 <!--Logueo -->
 <div class="col-sm-5 col-md-5">
 	<div class="row">
 		<div class="panel panel-default col-sm-12 col-md-12">
 		<div class="navbar-default navbar-default2" role="navigation">
 		<div class="navbar-header">
 	 	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
 	 	 	<span class="sr-only">Toggle navigation</span>
      		<span class="glyphicon glyphicon-registration-mark"></span>
    	</button>
    	<a class="navbar2-brand" href="#">Iniciar Sesión</a>
       <div class="collapse navbar-collapse navbar-collapse2" id="bs-example-navbar-collapse-2">
	       	<div class="navbar-nav">
	       	<div class="panel-heading"><h1><strong>Iniciar Sesión</strong><small> Credenciales</small></h1></div>
	 			<div class="panel-body">
	 				<form method="post" action="login/" class="form-block" role="form">
	 					{% csrf_token %}
			  			{% include 'formularioIngresoSesion.html' %}
					</form>
	 			</div>
			</div>
		</div>
		</div>
		</div>
		</div>
 <!--Fin Logueo-->
		<!--registro-->
<div class="panel panel-default col-sm-12 col-md-12">
<div class="navbar-default navbar-default2" role="navigation">
 <div class="navbar-header">
 	 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
 	 	 <span class="sr-only">Toggle navigation</span>
      <span class="glyphicon glyphicon-user"></span>

    </button>
     <a class="navbar2-brand" href="#">Registrate</a>
       <div class="collapse navbar-collapse navbar-collapse2" id="bs-example-navbar-collapse-1">
       	<div class="navbar-nav">

			<div class="panel-heading"><h1><strong>Regístrate</strong><small> Vota y elige lo mejor.</small></h1></div>
  			<div class="panel-body">
    			<form action="signup/" method="post" class="form-horizontal" role="form">
    				{% include 'formularioRegistrar.html' %}
				</form>
  			</div>
  		<!--</div>//panel--></div>
  	  </div>
  </div>
</div><!--nav -->
  	</div>
  </div>
</div>
  			<!--Fin registro-->

 <div class="clearfix"></div>
  	<div class="row">
		<!--Jumbotron-->
		<div class="jumbotron col-sm-12 col-md-12 col-lg-12">
		<div class="navbar-default navbar-default2" role="navigation">
		<div class="navbar-header">

		 	 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3">
		 	 	 <span class="sr-only">Toggle navigation</span>
		      <span class="glyphicon glyphicon glyphicon-comment"></span>

		    </button>
		   <a class="navbar2-brand" href="#">Descubreme</a>
		   		<div class="collapse navbar-collapse navbar-collapse2" id="bs-example-navbar-collapse-3">
       			<div class="navbar-nav">

					<h2>Descubre a FavorLess</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, iusto, optio temporibus dolorem dignissimos autem aspernatur magni possimus fugit similique ipsa impedit adipisci sint quia dolorum voluptatem nulla maxime sed veniam recusandae harum animi laboriosam? Molestiae, at hic facilis remos. </p>
				 </div>
				</div>
		</div>
		</div>
		</div>


	</div>
{% endblock %}

{% block footer %}
<p>Favorless © Inc. 2015</p>
<a href="#">Back to top</a>
{% endblock %}
