{% extends "base.html" %}
{% block title %}
Favorless
{% endblock %}

{% block header %}
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-search"></span>
    </button>

    <a href="#" class="navbar-brand-centered"><img src="../static/static/img/titulologo2.png" alt="favorless logo"></a>
</div>

<div>
    <a class="pull-right" href="{% url "logout" %}"><span style="font-size:16px;" class="glyphicon glyphicon-cog"></span></a>
</div>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <form  method="get" action='/search/results/' class="navbar-form" role="search">
            <div id="the-basics" class="input-group col-lg-3 col-md-3 col-sm-3">
                <input type="text" class="form-control typeahead" placeholder="Buscar..." id="search" name="q">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </form>
    </ul>
</div>
<div id = "resultadoss">

</div>
{% endblock %}

{% block content %}

    <form action="/principal/" method="post">
      <span id="alerta"></span>
      {% csrf_token %}
      {% if cantidad != None %}
            {% if cantidad >= 5  %}

              <span id = "informacion">Usted ha seleccionado el minimo de programas requeridos</span>
             <button type="submit" id="siguiente"  class="btn btn-primary">Siguiente...</button>
            {% else %}
             <span id = "informacion">Usted debe seleccionar 5 programas como minimo</span>
             <button type="submit" id="siguiente" disabled="disabled" class="btn btn-primary">Siguiente...</button>
            {% endif %}
      {% else %}
           <span id = "alerta">Ha ocurrido un error</span>

              <span id = "informacion"></span>
             <button type="submit"  id="siguiente" disabled  class="btn btn-primary">Siguiente...</button>
      {% endif %}
</form>

      <div class="row center-block">
              <select class="form-control">
                  <option value  = "0" selected = "true"> Todo </option>

                {%for categoria in categoria_dato %}
                  <option value = "{{categoria.id}}">{{categoria.titulo}}</option>

                {%endfor%}
              </select>



      {%for programa_fav in list_programa_pref%}
          <div class="col-xs-6 col-sm-6 col-md-4 programa categ{{programa_fav.programa.tipo_programa.id}}">
              <div class="thumbnail">
                <img src="{{MEDIA_URL}}{{programa_fav.programa.logo}} "  style = "width=200px; height:200px" alt="...">
                <div class="caption">

                  <h3>{{programa_fav.programa.nombre}}</h3>
                  <h4>{{programa_fav.programa.nombre_abreviado}}</h4>
                  <p>{{programa_fav.programa.tipo_programa}}</p>

                  <p>

                    {% if programa_fav.estado == True %}

                     <a href="#" id  = "{{programa_fav.programa.id}}" class="js-no-megusta btn btn-danger"  role="button">
                     <span>Ya no  me gusta</span></a>

                    {% else %}

                    <a href="#" id  = "{{programa_fav.programa.id}}" class="js-megusta btn btn-primary" role="button">
                    <span>Me gusta</span></a>

                    {% endif%}

                  </p>
                </div>
              </div>
          </div>

      {%endfor%}




      {%for programa in programas_dato%}
          <div class="col-xs-6 col-sm-6 col-md-4 programa categ{{programa.tipo_programa.id}}">
              <div class="thumbnail">
                <img src="{{MEDIA_URL}}{{programa.logo}} "  style = "width=200px; height:200px" alt="...">
                <div class="caption">

                  <h3>{{programa.nombre}}</h3>
                  <h4>{{programa.nombre_abreviado}}</h4>
                  <p>{{programa.tipo_programa}}</p>

                  <p>
                    <a href="#" id  = "{{programa.id}}" class="js-megusta btn btn-primary"  role="button">
                    <span>Me gusta</span></a>
                  </p>


                </div>
              </div>
          </div>

      {%endfor%}

{% endblock %}

{% block footer %}
      <p>
          <a href="http://getbootstrap.com">Favorless</a> desarrollado por <a href="https://twitter.com/FLS">@MGS</a>
      </p>

      <p>
          <a href="#">Back to top</a>
      </p>
{% endblock %}
