{% extends "base.html" %}
{% block title %}
Favorless
{% endblock %}

{% block header %}
<div class="navbar-header">
	<a href="#" class="navbar-brand-centered"><img src="../static/static/img/titulologo.png" alt="favorless logo"></a>
</div>
{% endblock %}

{% block content %}
		<div class="row col-xs-12">
			<div class="navbar-nav">
				<div class="panel-heading"><h1><strong>Uneté hoy a Favorless</strong></h1></div>
				<div class="panel-body">
				<!--	<form method="post" action="/create/user/" class="form-horizontal" role="form">-->
				<form role="form" action="." method="post" id="customForm">
						{% include 'formularioRegistrar.html' %}
					<!-- </form>  -->
				</div>
				<!--</div>//panel-->
			</div>
		</div>
{% endblock %}
  			<!--Fin registro-->
{% block footer %}
<p>
	<a href="http://getbootstrap.com">Favorless</a> desarrollado por <a href="https://twitter.com/FLS">@MGS</a>
</p>

<p>
	<a href="#">Back to top</a>
</p>
{% endblock %}
