/*Modificado*/
.navbar-default2
{
	background-color:#ffffff !important;
}
.navbar-collapse2
{
	width:100%;
}
/*Ocultar el campo de poner nombre de usuario en el registro del mismo*/
.nombreUsuario
{
  display:none;
}
@media (min-width: 1200px) {
  .img-principal-comparar
  {
  	height: 502px;
  }
}
@media (max-width: 768px) {

  	.jumbotron h2
	  {
	  	font-size: 20px;
	  }
	.jumbotron p
	  {
	  	font-size: 14px;
	  }
	.iconosSecundarios
	  {
		display:none;
	  }
  }

  /**Parte de GC**/

  .navbar-brand-centered {
    position: absolute;
    top: 0;
    left: 50%;
    height: 50px;
    width: 200px;  /* bootstrap has max-width: 200px rule */
    margin-left: -100px;
    text-align: center;
  }
  @media (min-width: 768px){
      .principal
      {
          display: none;
      }
  }

.navbar-icon-checkin-right {
    position: absolute;
    top: 0;
    left: 95%;
    height: 50px;
    width: 200px;  /* bootstrap has max-width: 200px rule */
    margin-left: -100px;
    margin-top: 8px;
    text-align: center;
  }

    @media (max-width: 768px){
      .checkin
      {
          display: none;
      }


      .iconito-xs{

      	font-size: 24px;
      }

   }

    @media (min-width: 768px){
      .principal , #link
      {
          display: none;
      }

       .iconito-xs{

      	font-size: 32px;
      }

   }

#nameInfo.error{
	background: #c33;
}

#nameInfo.success {
	background: #390;
}

#emailInfo.error {
	background: #c33;
}

#emailInfo.success {
	background: #390;
}

#pass1Info.error{
	background: #c33;
}

#pass1Info.success {
	background: #390;
}

#userInfo.error{
	background: #c33;
}

#userInfo.success {
	background: #390;
}

.twitter-typeahead{
	width: 100%;
}

.tt-dropdown-menu{
	background: white;
	border-radius: 4px;
	border: 1px solid gray;
	margin-top: 10px;
	max-height: 200px;
	width: 100%;
	overflow-y: auto;
	text-align: left;
}

.tt-suggestion {
	padding: 5px 10px;
}

.tt-suggestion.tt-cursor {
	color: white;
	background: #0097cf
}



.abc {
  text-decoration: none;
  font-size: larger;

}


div#cajafuera{

   width: inherit;
   height: 100%;

   z-index: 2;
   position: absolute;
   padding-right: 30px;
   padding-bottom: 20px;

}


.cajaun{
  width: 50%;
}


 .abc {
  display: inline-block;

  }


.nav > li > a.abc:hover{
opacity: 0.5;
background-color: lightblue;
border-color:lightblue;
}


.nav-pills > li + li {
  margin-left:0px;
  height: 100%
}

.ul-pers , .cajaun , .abc {
  height: inherit;


}


.opt {
  width: 45% ;
  font-family: arial ;
  font-size:  20px;

}

.center{
  width: 10%;
  background-color:#295781;
  color: white;
  font-size:  30px;
  border-radius: 100%;
}


.opt , .center {
  text-align: center;
  display: inline-block;
}

.xyz{
  vertical-align: middle;
}



/*
* Footer
*/

.base-footer {
	padding: 40px 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: 1px solid #e5e5e5;
}
.base-footer p:last-child {
	margin-bottom: 0;
}

.sizq{

	position: absolute;
	bottom: 50%;
	font-size: xx-large;
	right: 1%;
	background: rgb(49, 48, 112);
	/* float: left; */

}

.sder{

	position: absolute;
	bottom: 50%;
	font-size: xx-large;
	left: 1%;
	background: rgb(49, 48, 112);
	/* float: left; */

}
